<%= link_to 'Create New Viewing Party', new_user_movie_viewing_party_path(user_id: @user.id, movie_id: @movie.id) %>

<h1><%= @movie.title %></h1>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= @movie.runtime / 60 %>h <%= @movie.runtime % 60 %>m</p>
<p>Genres: <%= @movie.genres.map { |genre| genre[:name] }.join(", ") %></p>
<p>Summary: <%= @movie.overview %></p>

<h2>Cast</h2>
<ul>
  <% @movie.cast.each do |actor| %>
    <li><%= actor[:name] %> as <%= actor[:character] %></li>
  <% end %>
</ul>

<h2><%= pluralize(@movie.reviews.count, 'review') %> </h2>

<% @movie.reviews.each do |review| %>
  <b>Review by: <%= review[:author] %></b>
    <p><%= review[:content] %></p>
  <% end %>
