<h1>Discover Movies</h1>

<div style="margin-bottom: 20px;">
  <%= link_to "Find Top Rated Movies", user_movies_path(@user), method: :get %>
</div>

<!-- Using a div to group the form elements -->
<div style="margin-top: 20px;">
  <%= form_with url: user_movies_path(@user), method: :get do |form| %>
    <div style="margin-bottom: 10px;">
      <%= form.label :query, "Search by Movie Title" %><br>
      <%= form.text_field :query %>
    </div>
    <%= form.submit "Search Movie Title", style: "margin-top: 10px;" %>
  <% end %>
</div>
