<h1><%= "#{@user.name}'s Discover Page" %></h1><br>

<%= button_to "Discover Top Rated Movies", user_movies_path(@user), method: :get %><br>

<%= form_tag user_movies_path(@user), method: :get do %>
    <%= text_field_tag :search_movies, nil, placeholder: 'Search Movies by Title' %>
    <%= submit_tag "Search Movies", method: :get, class: "btn btn-primary" %>
<% end %>